<div class="col-sm-9">
	<h1>Video Content</h1>
	<% @videos.each do |video| %>
		<%= raw(video.html) %>
	<% end %>
</div>
<% if signed_in? %>
	<p><%= "Welcome, #{ current_user.email } ,you're signed in" %></p>
	<%= link_to "Sign out", signout_path, method: "delete" %>
<% else %>
	<div class="col-sm-3">
	<%= render "users/signin" %>
	<%= render "sessions/login" %>
	</div>
<% end %>