<div class="col-sm-12">
	<h1>Video Content</h1>
	<div id="container">
	<% @videos.each do |video| %>
	  <div class="item crop">
	  	<div class="crop">
			<%= image_tag "#{raw(video.thumbnail_url)}" %>
		</div>
		</div>
	<% end %>

</div>
</div>
<% if signed_in? %>
	<p><%= "Welcome, #{ current_user.email } ,you're signed in" %></p>
	<%= link_to "Sign out", signout_path, method: "delete" %>
<% else %>
	<div class="col-sm-3">
	<%= render "users/signin" %>
	<%= render "sessions/login" %>
	</div>
<% end %>

<script type="text/javascript">
	var container = document.querySelector('#container');
	var msnry = new Masonry( container, {
  // options
  columnWidth: 300,
  itemSelector: '.item'
	});
</script>